$base: #d6d6d6;
$basePink: #fc4b548c;

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  letter-spacing: 0.2em;
}

.light-overlay {
  background: #f4f4f421;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 10;
}
.outer-container {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: $base;
  // color: rgba(0, 0, 0, 0.7);
  .nav-bar {
    position: absolute;
    margin-left: 85%;
    display: flex;
    margin-top: 9.5%;
    line-height: 1.5rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    z-index: 10;
    ul {
      text-transform: uppercase;
      line-height: 1.5rem;
      padding: 0;
      margin: 0;
      list-style: none;
      text-decoration: none;
      a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.678);
        &:hover {
          color: $basePink;
          font-size: 1.2rem;
          border-bottom: 1px $basePink solid;
        }
      }
    }
  }
  .main-text {
    text-transform: uppercase;
    position: absolute;
    z-index: 5;
    top: 28%;
    font-weight: 700;

    h1 {
      font-size: 12vw;
      margin-left: 15%;
      margin-bottom: 0;
    }
    .btm-text {
      font-size: 12vw;
      margin-left: 20%;
      writing-mode: vertical-rl;
    }
  }
}

.inner-container {
  z-index: 1;
  position: absolute;
  background-color: $basePink;
  height: 500px;
  width: 1000px;
  // width: ;
  margin: 15% 16% 0 16%;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;

  .civil-text {
    float: right;
    padding: 1em;
    font-size: 0.8rem;
    // color: rgba(0, 0, 0, 0.678);
  }
  .vert-text {
    font-size: 0.8rem;
    // color: rgba(0, 0, 0, 0.678);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 1em;
  }
}

.image {
  position: absolute;
  filter: brightness(50%);
  bottom: 15%;
  margin-left: 15%;
}
// ------------------------------------------------

.contain {
  height: 100vh;
}

// ---------------------------------------------
//                 ABOUT
//---------------------------------------------
#about-cards {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #fd4c5557;

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  .cardContainer {
    position: relative;
    width: 450px;
    height: 500px;
    min-width: 300px;
    min-height: 400px;
    margin: 4px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .active {
    -webkit-transform: translateZ(0px) rotateY(180deg) !important;
    transform: translateZ(0px) rotateY(180deg) !important;
  }
  .active:after {
    display: none;
  }

  .card {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -moz-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-100px);
    transform: translateZ(-100px);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .card:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
  }
  .card:hover {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
  }
  .card:hover:after {
    opacity: 1;
  }
  .card .side {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
  }
  .card .front {
    z-index: 2;
  }
  .card .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height: 450px;
    overflow: scroll;
  }
  .card {
    display: flex;
    position: absolute;
    .info {
      top: 0;
      position: absolute;

      h2 {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        font-size: 3.5rem;
        letter-spacing: 2px;
        margin-bottom: 10px;
        color: #fc4b54de;
        font-weight: 600;
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }
  }

  .front {
    .img {
      background-color: #dadce2;
      background-position: center;
      background-size: cover;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      filter: brightness(80%);
    }
    .img1 {
      background-image: url(../images/rosa-parks.jpg);
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
    .img2 {
      background-image: url(../images/Rosaparks.jpg);
    }
    .img3 {
      background-image: url(../images/roas.jpg);
    }
  }

  .back {
    position: relative;
    h2 {
      margin-top: 6px;
      margin-bottom: 18px;
    }
    ul {
      padding-left: 10px;
      margin: 0;
      strong {
        font-size: 1.2rem;
      }
    }
  }

  // ---------------------
  //            MEDIA Querys
  //----------------------

  // tablet 1200px
  @media screen and (max-width: 1200px) {
    .light-overlay {
      height: 100vh;
    }
    .inner-container {
      height: 90vh;
      width: 90%;
      margin: 10% 0 10% 3%;
      img {
        width: 108%;
        height: 100%;
        // width: 100%;
        // height: 500px;
      }
    }
    .outer-container {
      .nav-bar {
        ul {
          a {
            color: #fc4b54;
          }
        }
      }
    }

    #history {
      margin-top: 70%;
    }
  }
  // tablet 780px

  @media screen and (max-width: 790px) {
    .inner-container {
      // height: 90vh;
      // width: 100%;
      margin: 8% 0 10% 3%;
      img {
        width: 108%;
        // width: 100%;
        // height: 500px;
      }
      .image {
        bottom: 10%;
      }
    }
    .outer-container {
      .nav-bar {
        margin-left: 75%;
        ul {
          a {
            color: #000;
            &:hover {
              color: rgba(0, 0, 0, 0.378);
              font-size: 1.2rem;
              border-bottom: 1px rgba(0, 0, 0, 0.378) solid;
            }
          }
        }
      }
    }
  }

  // 450------------
  @media screen and (max-width: 450px) {
    .inner-container {
      // height: 90vh;
      // width: 100%;
      margin: 8% 0 10% 3%;
      img {
        width: 108%;
        // width: 100%;
        // height: 500px;
      }
      .image {
        bottom: 30%;
      }
      .vert-text {
        margin-top: 60%;
        padding: 5px;
        font-size: 0.7rem;
        p {
          margin: 0.5em;
        }
      }
    }

    .outer-container {
      .nav-bar {
        margin-left: 15%;
        margin-top: 20%;
        ul {
          li {
            display: inline;
            border-bottom: 0.5px rgba(0, 0, 0, 0.378) solid;
          }
          a {
            color: #000;
            padding: 0 5px 0 10px;
            // margin-right: 10px;

            // border-bottom: 0.5px rgba(0, 0, 0, 0.378) solid;

            &:hover {
              color: rgba(0, 0, 0, 0.378);
              font-size: 1.2rem;
              border-bottom: 1px rgba(0, 0, 0, 0.378) solid;
            }
          }
        }
      }
    }
  }
}
