$base: #d6d6d6;
$basePink: #fc4b548c;

body {
  margin: 0;
  padding: 0;
  letter-spacing: 0.2em;
  font-family: "Source Sans Pro", sans-serif;
}

.light-overlay {
  background: #f4f4f466;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 10;
}
.outer-container {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: $base;

  .nav-bar {
    position: absolute;
    margin-left: 85%;
    display: flex;
    margin-top: 9.5%;
    line-height: 1.5rem;
    font-weight: 600;
    z-index: 10;
    ul {
      text-transform: uppercase;
      line-height: 1.5rem;
      padding: 0;
      margin: 0;
      list-style: none;
      text-decoration: none;
      a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.678);
        &:hover {
          color: $basePink;
          font-size: 1.2rem;
        }
      }
    }
  }
}

.inner-container {
  z-index: 1;
  position: absolute;
  background-color: #fc4b54cc;
  height: 500px;
  width: 1000px;
  margin: 15% 16% 0 16%;
  font-weight: 600;

  .vert-text {
    font-size: 0.8rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 1em;
  }

  .image {
    position: absolute;
    filter: brightness(40%);
    bottom: 15%;
    margin-left: 15%;
  }
}

// ------------------------------
//            MEDIA Querys
// ------------------------------

@media screen and (max-width: 1200px) {
  .light-overlay {
    height: 100vh;
  }
  .inner-container {
    height: 90vh;
    width: 90%;
    margin: 10% 0 10% 3%;
    img {
      width: 108%;
      height: 100%;
    }
  }
  .outer-container {
    .nav-bar {
      margin-left: 80%;
      ul {
        a {
          padding: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 790px) {
  .inner-container {
    margin: 8% 0 10% 3%;
    img {
      width: 108%;
    }
    .image {
      bottom: 10%;
    }
  }
  .outer-container {
    .nav-bar {
      margin-left: 75%;
      ul {
        a {
          color: #000;
          &:hover {
            color: rgba(0, 0, 0, 0.378);
            font-size: 1.2rem;
            border-bottom: 1px rgba(0, 0, 0, 0.378) solid;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .inner-container {
    margin: 8% 0 10% 3%;
    img {
      width: 108%;
    }
    .image {
      bottom: 30%;
    }
    .vert-text {
      margin-top: 60%;
      padding: 5px;
      font-size: 0.7rem;
      p {
        margin: 0.5em;
      }
    }
  }

  .outer-container {
    .nav-bar {
      margin-left: 15%;
      margin-top: 20%;
      ul {
        li {
          display: inline;
        }
        a {
          color: #000;
          padding: 0 5px 0 10px;
          &:hover {
            color: rgba(0, 0, 0, 0.378);
            font-size: 1.2rem;
            border-bottom: 1px rgba(0, 0, 0, 0.378) solid;
          }
        }
      }
    }
  }
}
